*{
    margin: 0%;
    padding:0%;
}

    h1{   
    text-align:center;
    padding: 15px;
    background-color: rgb(57, 188, 42);
    color: rgb(255, 255, 255);
}
#container{
    margin-top: 30px;
    height: 500;
    padding: 20px;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 50px;
    text-align: center;
    float:left;
    background-color: rgba(226, 32, 64, 0.86);
 
}

.u{  
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(74, 134, 74);
    padding: 20px;
    text-align: center;
    list-style-type: none;
    font: bold;
}
.a{
    margin-top: 30px;
    height: 535px;
    background-color: rgba(140, 140, 140, 0.47);
}
.f{
    padding: 20px;
    background-color: rgb(25, 210, 102) ;
    text-align: center;
}
@media  (max-width: 480px) {
    h1{
        position:sticky;
        top:0%;
        text-align: center;
        padding: 3px; 
    }
    #container{
        
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
        gap: 2px;
        text-align: center;
        float:left;
        background-color: white; 
    }
    .a{
      margin-top: 45px;
      height: 1370px;
      background-color: rgba(140, 140, 140, 0.47);
    }
    .f{
        padding: 20px;
        background-color: rgb(25, 210, 102) ;
        text-align: center;
    }
    .n{
        position:sticky;
      top: 150px;
    }
}

@media (min-width: 768px)and (max-width:1024px) {
    h1{
        position:sticky;
        top:0%;
    }
    #container{
        height: 1345px;
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        gap: 2px;
        text-align: center;
        float:left;
        background-color: rgba(208, 204, 211, 0.638); 
    }
    .a{
    
        margin-top: 45px;
        height: 1370px;
        background-color: rgba(140, 140, 140, 0.47);
      }
      .n{
        position:sticky;
      top: 170px;
    }
}
